/bin/
.project
checker/target/*
kwalify/target/*
service/target/*
/checker/bin/*
/kwalify/bin/*
/service/bin/*
/kwalify/.settings/*
/checker/.settings/*
*.classpath
/service/.settings/*
/commons-pipeline/*
/.settings/*
